@font-face {
  font-family: Helvetica;
  src: url("/fonts/HelveticaNeue.ttc");
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .wrapper {
    @apply w-full flex justify-center items-center flex-col;
  }
  .contain {
    @apply flex w-full max-w-[90%];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.text-stroke {
  -webkit-text-stroke: 0.1px #eeede4;
  text-stroke: 0.1px #eeede4;
  color: transparent;
  filter: drop-shadow(0px 3px 10px #fffdfd);
}
