@font-face {
  font-family: Helvetica;
  src: url("/fonts/Helvetica\ Neue\ Medium\ Extended.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Helvetica;
  src: url("/fonts/Helvetica\ Neue\ UltraLight.ttf");
  font-weight: 300;
}
@font-face {
  font-family: Helvetica;
  src: url("/public/fonts/Helvetica\ Neue\ W01\ 87\ Hv\ Cn\ Obl.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Druk;
  src: url("/fonts/FontsFree-Net-Druk-Wide-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Druk;
  src: url("/fonts/FontsFree-Net-Druk-Wide-Medium.ttf");
  font-weight: 500;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .wrapper {
    @apply w-full flex justify-center items-center flex-col;
  }
  .contain {
    @apply flex w-full max-w-[90%];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.text-stroke {
  -webkit-text-stroke: 0.1px #eeede4;
  text-stroke: 0.1px #eeede4;
  color: transparent;
  filter: drop-shadow(0px 3px 10px #fffdfd);
}
.text-stroke-black {
  -webkit-text-stroke: 0.1px black;
  text-stroke: 0.1px black;
  color: transparent;
}
.release-slider .splide__slide {
  transform: scale(0.82) !important;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.release-slider .is-active {
  transform: scale(1) !important;
}
.release-slider {
  padding-bottom: 40px;
}
.release-slider .splide__pagination {
  top: 100%;
  bottom: initial;
}
.release-slider .splide__pagination .presentation {
  transform: scale(1) !important;
  opacity: 1 !important;
  background-color: #b4b4b4 !important;
}
.release-slider .splide__pagination .is-active {
  background-color: #e400ed !important;
}
.release-slider .splide__arrows {
  top: 100%;
  left: 0;
  width: 100%;
  position: absolute;
}
.release-slider .splide__arrow {
  background-color: transparent !important;
  opacity: 1 !important;
}
.release-slider .splide__arrow--prev {
  transform: rotate(180deg) translateY(45%) !important;
}
